/* 全体のスタイル */
body {
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', 'M PLUS 1p', 'Zen Kaku Gothic New', 'Kosugi Maru', 'Sawarabi Gothic', sans-serif;
}

/* 見出し用のフォントを設定する場合 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'M PLUS 1p', 'Zen Kaku Gothic New', 'Noto Sans JP', 'Kosugi Maru', 'Sawarabi Gothic', sans-serif;
}

nav {
    display: flex;
    justify-content: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

/* メインコンテンツ */
main {
    max-width: 100%;
    margin: 0 auto;
}

section {
    margin-bottom: 3rem;
}

.logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 22%;
}

.logo-image {
    max-height: 80px; /* ロゴの高さを調整 */
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 0.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    position: relative;
    width: 100%;
    height: 92vh;
    overflow: hidden;
}

.hero-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-image {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;  
}

.hero-image.active {
    opacity: 1;
    animation: zoomIn 6s ease-in-out forwards;
}

.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-logo .logo-image {
    width: auto;
    height: 80vh; /* ビューポートの高さの80%に設定 */
    max-height: 250px; /* 最大高さを制限 */
    object-fit: contain;
}

.hero-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.hero-center {
    position: absolute;
    top: 0;
    right: -50%; /* 画像を左に移動 */
    width: 120%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 0.7; }
}


@keyframes slideShow {
    0%, 33% {
        transform: translateX(0);
    }
    33.33%, 66% {
        transform: translateX(-33.333%);
    }
    66.66%, 100% {
        transform: translateX(-66.666%);
    }
}

.hero-image-container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    animation: slideShow 15s infinite;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideShow {
    0%, 33% {
        transform: translateX(0);
    }
    33.33%, 66% {
        transform: translateX(-33.333%);
    }
    66.66%, 100% {
        transform: translateX(-66.666%);
    }
}

/* 新しいメインナビゲーションのスタイル */
#main-nav-wrapper {
    position: relative;
    background-color: #f8f8f8;
    padding: 1rem 0;
    margin-top: -50px;
    overflow: hidden; /* はみ出た部分を隠す */
}

#main-nav-wrapper::before,
#main-nav-wrapper::after,
#main-nav ul::before,
#main-nav ul::after,
#main-nav ul li + li::before {
    content: '';
    position: absolute;
    top: -30%; /* 上に100%はみ出させる */
    bottom: -30%; /* 下に100%はみ出させる */
    width: 1px;
    background-color: #bbb9b9; /* 縦線の色 */
}

#main-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20%;
    position: relative;
}

#main-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

#main-nav ul::before {
    left: 0;
}

#main-nav ul::after {
    right: 0;
}

#main-nav ul li {
    position: relative;
    padding: 0 30px;
    flex: 1; /* 均等に幅を分配 */
    display: flex; /* Flexboxを使用 */
    align-items: stretch; /* 子要素を縦に引き伸ばす */
}

#main-nav ul li::before {
    left: 0;
}

#main-nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    display: flex;
    z-index: 1; /* 縦線の上にテキストを表示 */
    justify-content: center;
    align-items: center;
    width: 100%; /* 親要素の幅いっぱいに */
    height: 100%; /* 親要素の高さいっぱいに */
}

#main-nav ul li a:hover {
    color: #ffffff;
    background-color: #3d72c0;
}

#about {
    position: relative;
    overflow: hidden;
    margin-bottom: -10px;
    margin-top: -50px; /* この値を調整して上に移動 */
}

.about-image {
    width: 100%; /* コンテナの幅いっぱいに広げる */
    height: calc(100vh + 100px); /* 90vhに50pxを追加 */
    object-fit: cover; /* 画像をコンテナにフィットさせる */
    object-position: center 20%; /* 画像の上部を表示 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: brightness(100%) contrast(100%); /* 画像を白っぽくする */
}

.about-image-container {
    position: relative;
    max-width: 100%; /* コンテナの最大幅を設定 */
    height: calc(100vh + 100px); /* 90vhに50pxを追加 */
    overflow: hidden;
}

.about-content {
    position: relative;
    z-index: 2; /* 画像の上にコンテンツを配置 */
    background-color: rgba(255, 255, 255, 0.7); /* 半透明の白いオーバーレイ */
    height: calc(100% + 50px); /* 100%に50pxを追加 */
    padding: 2rem;
    padding-top: 100px; /* ABOUTセクションのテキストを下に移動 */
}

.about-item {
    margin-bottom: 0.1rem;
    text-align: center; /* 中央揃えから左揃えに変更 */
    max-width: 800px; /* コンテンツの最大幅を設定 */
    margin-left: auto; /* 左右のマージンを自動に設定 */
    margin-right: auto;
    padding-left: 20px; /* 左側に少しパディングを追加 */
}

.about-content-top h1 {
    font-size: 2.2em;
    text-align: center; /* 右寄せにする */
    color: #000000;
}

.about-content-top h2 {
    font-size: 1.8em;
    margin-bottom: 5px;
    text-align: center; /* 右寄せにする */
}

.about-content-top h3 {
    font-size: 1.2em; /* 現在のサイズの2倍に設定 */
    text-align: center;
}

.about-content-top p {
    color: #333;
    text-align: center;
    font-size: 1.1em;
}

.about-item h4 {
    border-bottom: 2px solid #333;; /* 下線を追加 */
    display: inline-block; /* 下線をテキストの幅に合わせる */
    padding-bottom: 0;
    margin-bottom: 0; 
    font-size: 1.2em;
    color: #333;
}

.about-item p {
    margin-top: 10px; /* pタグの上部マージンを削除 */
}

.slide-in {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* 製品セクション */
#products {
    text-align: center; /* セクション全体を中央揃えに */
    padding: 1rem 0;
    padding-top: 120px;
    background-color: #2d3333;
    overflow: hidden;
    padding-bottom: 250px; /* 下の余白を増やす */
    margin-bottom: 0;
}

#products h2 {
    margin-bottom: 2rem; /* h2とh3の間隔を調整 */
    font-size: 2.2em;
    color: #ffffff;
}

#products h3 {
    max-width: 800px; /* テキストの最大幅を設定 */
    margin: 0 auto 0.1rem; /* 上下左右の余白を設定し、中央に配置 */
    font-size: 1.4em; /* フォントサイズを調整（必要に応じて） */
    color: #ffffff;
}

#products h4 {
    max-width: 800px; /* テキストの最大幅を設定 */
    margin: 0 auto 0.1rem; /* 上下左右の余白を設定し、中央に配置 */
    font-size: 1.4em; /* フォントサイズを調整（必要に応じて） */
}

#products p {
    font-size: 1.1em;
    padding-bottom: -50px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.product-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
    perspective: 1500px; /* 3D効果を強調 */
    margin-top: 120px; /* 上部に余白を追加 */
}

.product-item {
    position: absolute;
    width: 700px; /* 幅を縮小 */
    height: 500px; /* 高さを縮小 */
    transition: all 0.5s ease;
    opacity: 0.7;
    border-radius: 10px; /* 角を丸く */
    background-color: white; /* 背景色を追加 */
    transform: scale(0.8);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* シャドウを追加 */
    overflow: hidden; /* 内容がはみ出ないように */
}

.product-item.active {
    opacity: 1;
    transform: scale(1.1);
    z-index: 2;
}

.product-item img {
    width: 100%;
    height: 380px; /* 画像の高さを縮小 */
    object-fit: cover;
}

.product-item h3 {
    font-size: 0.7em; /* フォントサイズを縮小 */
    margin: 10px 0;
    padding: 0 10px; /* 左右にパディングを追加 */
}

.product-item p {
    font-size: 0.6em; /* フォントサイズを縮小 */
    padding: 0 10px; /* 左右にパディングを追加 */
    line-height: 1.4; /* 行間を調整 */
}

#message {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* パララックス効果を追加（オプション） */
    padding: 4rem 0;
    color: #000000; /* テキストの色を白に設定 */
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 100px;
    z-index: 1; /* 他の要素の上に表示されるようにする */
}

#message::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* 背景画像の上に半透明の黒いオーバーレイを追加 */
}

.message-content {
    position: relative;
    z-index: 1; /* テキストを背景オーバーレイの上に配置 */
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

#message h2 {
    font-size: 2.5em;
    margin-bottom: 1.8rem;
    color: #000000;
}

#message h3 {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
    color: #000000;
}

#message p {
    font-size: 1.0em;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #000000;
}

/* 会社情報、メッセージセクション */
#company {
    padding: 4rem 0;
    background-color: #f5f5f5;
    margin-bottom: 80px;
    padding-bottom: 200px;
    padding-top: 150px;
    background-image: url('image/company.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#company h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.2em;
    color: white;
}

.company-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.company-info {
    width: 45%;
    border-collapse: collapse;
    color: #000000; /* 表のテキストを黒に */
}

.company-info th,
.company-info td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.company-info th {
    width: 18%;
    text-align: center;
    font-weight: bold;
    background-color: rgba(199, 199, 199, 0.8); /* 表の背景を半透明の白に */
}

.company-info td {
    width: 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* 表の背景を半透明の白に */
}

.company-logo {
    width: 45%;
    text-align: center;
}

.company-logo img {
    max-width: 100%;
    height: auto;
    padding-top: 80px;
}

/* お問い合わせフォーム */
#contact {
    background-color: #D3D3D3;
    padding: 2rem 0;
    margin-top: -80px;
    padding-bottom: 100px;
    padding-top: 120px;
}

#contact h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2em;
    color: #ffffff;
}

#contact-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.form-section {
    flex: 1;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center; /* 内容を左揃えに */
}

.form-header {
    background-color: #2d3333;
    color: #ffffff;
    padding: 0.75rem;
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;
    border-radius: 8px 8px 0 0;
    text-align: center; /* テキストを中央揃えに */
}

.form-header h3 {
    margin: 0;
    font-size: 1.1em;
    color: #ffffff;
}

.form-group {
    margin-bottom: 1rem;
    max-width: 100%; /* コンテナの幅を制限 */
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9em;
}

.form-group input,
.form-group textarea {
    width: 97%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

.form-group textarea {
    width: 100%;
    height: 150px;
    margin-top: 1.5rem; /* この行を追加 */
    vertical-align: top; /* この行を追加 */
    line-height: 1.5;
}

.form-group textarea::placeholder {
    position: static;
    line-height: 1.5;
}

.required {
    color: #ff0000;
}

button[type="submit"] {
    display: block;
    width: 200px;
    margin: 2rem auto 0;
    background-color: #2d3333;
    color: #ffffff;
    border: none;
    padding: 0.95rem 1.5rem;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 60px;
}

button[type="submit"]:hover {
    background-color: #2727c9;
}

#privacy-policy {
    background-color: #f0f0f0;
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 8px;
}

#privacy-policy h3 {
    margin-bottom: 1rem;
}

.policy-content {
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.consent-checkbox {
    margin-top: 1rem;
}

#submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* フッター */
footer {
    background-color: #2d3333;
    color: white;
    padding: 2rem 0;
    margin-top: -60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 30px;
}

.footer-logo {
    flex: 0 0 auto;
}

.footer-logo-policy img {
    max-width: 150px;
}

.footer-nav {
    flex: 0 1 auto;
    margin-left: auto;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.footer-nav ul li {
    margin-bottom: 0;
}

.footer-nav ul li a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
    display: inline-block;
    padding: 5px 0;
}

.footer-nav ul li a:hover {
    opacity: 0.8;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-logo-policy {
    display: flex;
    align-items: center;
    gap: 1rem; /* ロゴとリンクの間隔 */
}

.privacy-policy-link {
    color: white; /* リンクの色を調整 */
    text-decoration: none;
    font-size: 0.9em; /* フォントサイズを調整 */
    transition: color 0.3s ease;
    margin-left: auto;
    padding-left: 110px;
}

.privacy-policy-link:hover {
    color: #007bff; /* ホバー時の色を調整 */
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        padding-right: 0%;
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .hero-logo .logo-image {
        height: 60vh; /* 小さな画面では高さを減らす */
        max-height: 400px; /* 最大高さも調整 */
    }

    .hero-inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-left, .hero-right {
        width: 100%;
        padding: 1rem;
    }

    .hero-left h1, .hero-right p {
        font-size: 4vw; /* モバイル表示時のフォントサイズ */
    }

    .about-content-top, .about-content-right {
        position: static;
        transform: none;
        width: 90%;
        max-width: none;
        margin: 1rem auto;
    }

    .about-content-right {
        position: static;
        transform: none;
        width: 90%;
        max-width: none;
        margin: 1rem auto;
        max-height: none;
    }

    .about-content-top h3 {
        text-align: center;
        margin-right: 0;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    #message {
        padding: 3rem 1rem;
    }

    #message h2 {
        font-size: 2em;
    }

    #message p {
        font-size: 1em;
    }

    .company-container {
        flex-direction: column;
    }

    .company-info,
    .company-logo {
        width: 100%;
    }

    .company-info th,
    .company-info td {
        display: block;
        width: 100%;
    }

    .company-info th {
        border-bottom: none;
    }

    .company-logo {
        margin-top: 2rem;
    }

    .form-container {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 2rem;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo, .footer-nav, .footer-info {
        margin-bottom: 1rem;
    }

    .footer-nav ul {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .about-content-right {
        width: 50%;
        right: 2%;
    }
}
